button {
  color: black;
  background-color: white;
  border-color: gray;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 0.5em;
  border-radius: 0.25em;
  display: flex;
  align-items: center;
}
button:hover,
button:focus {
  background-color: gray;
}
