.container {
  /* Content is centered horizontally */
  align-items: center;
  display: flex;

  /* Size */
  height: 32px;
  width: 20rem;
}

.container__left {
  height: 2px;
  width: 20%;

  /* Colors */
  background-color: rgba(0, 0, 0, 0.3);
}

.container__circle {
  /* Size */
  height: 1.5rem;
  width: 1.5rem;

  /* Rounded border */
  border-radius: 9999px;

  /* Colors */
  background-color: rgba(0, 0, 0, 0.3);
}

.container__right {
  /* Take the remaining width */
  flex: 1;
  height: 2px;

  /* Colors */
  background-color: rgba(0, 0, 0, 0.3);
}
